* {
    primary: #ffb2bf;
    primary-fixed: #ffd9de;
    primary-fixed-dim: #ffb2bf;
    on-primary: #561d2b;
    on-primary-fixed: #3a0716;
    on-primary-fixed-variant: #713341;
    primary-container: #713341;
    on-primary-container: #ffd9de;
    secondary: #e4bdc2;
    secondary-fixed: #ffd9de;
    secondary-fixed-dim: #e4bdc2;
    on-secondary: #43292e;
    on-secondary-fixed: #2c1519;
    on-secondary-fixed-variant: #5c3f44;
    secondary-container: #5c3f44;
    on-secondary-container: #ffd9de;
    tertiary: #ebbe90;
    tertiary-fixed: #ffddbb;
    tertiary-fixed-dim: #ebbe90;
    on-tertiary: #452a08;
    on-tertiary-fixed: #2b1700;
    on-tertiary-fixed-variant: #5f401d;
    tertiary-container: #5f401d;
    on-tertiary-container: #ffddbb;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #191112;
    on-surface: #f0dee0;
    on-surface-variant: #d6c2c4;
    outline: #9f8c8e;
    outline-variant: #524345;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #f0dee0;
    inverse-on-surface: #382e2f;
    inverse-primary: #8e4958;
    surface-dim: #191112;
    surface-bright: #413738;
    surface-container-lowest: #140c0d;
    surface-container-low: #22191b;
    surface-container: #261d1f;
    surface-container-high: #312829;
    surface-container-highest: #3c3234;
}
